.board {
    width: 37.5%;
    height: 37.5%;
    margin: auto
}

.info {
    width: 35%;
    background-color:rgba(255, 255, 255, 0.445);
    margin: auto;
}

.move-history {
    max-height: 100px;
    overflow-y: scroll;
}

body {
    background: url("tree.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }